<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001-04366</key>
	<dict>
		<key>build</key>
		<string>19E2269</string>
		<key>date</key>
		<date>2020-05-04T15:32:04Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-04366</string>
		<key>time</key>
		<real>1588631524.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.4</string>
	</dict>
	<key>001-15219</key>
	<dict>
		<key>build</key>
		<string>19F2200</string>
		<key>date</key>
		<date>2020-06-15T18:52:41Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-15219</string>
		<key>time</key>
		<real>1592272361.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.5</string>
	</dict>
	<key>001-36735</key>
	<dict>
		<key>build</key>
		<string>19G2006</string>
		<key>date</key>
		<date>2020-08-06T23:39:24Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-36735</string>
		<key>time</key>
		<real>1596782364.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.6</string>
	</dict>
	<key>001-36801</key>
	<dict>
		<key>build</key>
		<string>19G2021</string>
		<key>date</key>
		<date>2020-08-12T20:04:02Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-36801</string>
		<key>time</key>
		<real>1597287842.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.6</string>
	</dict>
	<key>001-51042</key>
	<dict>
		<key>build</key>
		<string>19H2</string>
		<key>date</key>
		<date>2020-09-24T17:09:31Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-51042</string>
		<key>time</key>
		<real>1600992571.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>001-57224</key>
	<dict>
		<key>build</key>
		<string>19H4</string>
		<key>date</key>
		<date>2020-10-27T17:28:13Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-57224</string>
		<key>time</key>
		<real>1603844893.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>001-68446</key>
	<dict>
		<key>build</key>
		<string>19H15</string>
		<key>date</key>
		<date>2020-11-11T17:48:09Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-68446</string>
		<key>time</key>
		<real>1605145689.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>041-88800</key>
	<dict>
		<key>build</key>
		<string>18E2034</string>
		<key>date</key>
		<date>2019-10-23T14:41:18Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-88800</string>
		<key>time</key>
		<real>1571866878.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.4</string>
	</dict>
	<key>041-90855</key>
	<dict>
		<key>build</key>
		<string>17F66a</string>
		<key>date</key>
		<date>2019-10-23T14:41:18Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-90855</string>
		<key>time</key>
		<real>1571866878.0</real>
		<key>title</key>
		<string>Install macOS High Sierra Beta</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>041-91758</key>
	<dict>
		<key>build</key>
		<string>17G66</string>
		<key>date</key>
		<date>2019-10-19T18:19:55Z</date>
		<key>description</key>
		<string>macOS High Sierra is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-91758</string>
		<key>time</key>
		<real>1571534395.0</real>
		<key>title</key>
		<string>macOS High Sierra</string>
		<key>version</key>
		<string>10.13.6</string>
	</dict>
	<key>042-45246</key>
	<dict>
		<key>build</key>
		<string>20G1427</string>
		<key>date</key>
		<date>2023-09-11T17:15:11Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j680ap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j274ap</string>
			<string>vmm-x86_64</string>
			<string>j137ap</string>
			<string>j140kap</string>
			<string>x589iclyap</string>
			<string>j293ap</string>
			<string>j213ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j215ap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>x86legacyap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>042-45246</string>
		<key>time</key>
		<real>1694477711.0</real>
		<key>title</key>
		<string>macOS Big Sur</string>
		<key>version</key>
		<string>11.7.10</string>
	</dict>
	<key>052-60131</key>
	<dict>
		<key>build</key>
		<string>21H1123</string>
		<key>date</key>
		<date>2024-03-18T17:11:48Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j680ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j274ap</string>
			<string>vmm-x86_64</string>
			<string>j137ap</string>
			<string>j375dap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>j493ap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j215ap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>x86legacyap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>052-60131</string>
		<key>time</key>
		<real>1710807108.0</real>
		<key>title</key>
		<string>macOS Monterey</string>
		<key>version</key>
		<string>12.7.4</string>
	</dict>
	<key>061-26578</key>
	<dict>
		<key>build</key>
		<string>18F2059</string>
		<key>date</key>
		<date>2019-10-14T20:38:26Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-26578</string>
		<key>time</key>
		<real>1571110706.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.5</string>
	</dict>
	<key>061-26589</key>
	<dict>
		<key>build</key>
		<string>18G103</string>
		<key>date</key>
		<date>2019-10-14T20:51:08Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-26589</string>
		<key>time</key>
		<real>1571111468.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.6</string>
	</dict>
	<key>061-86291</key>
	<dict>
		<key>build</key>
		<string>19D2064</string>
		<key>date</key>
		<date>2020-03-23T21:41:00Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-86291</string>
		<key>time</key>
		<real>1585024860.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.3</string>
	</dict>
	<key>072-08251</key>
	<dict>
		<key>build</key>
		<string>24D60</string>
		<key>date</key>
		<date>2025-02-03T18:13:20Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j773sap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j614cap</string>
			<string>j773gap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j613ap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j415ap</string>
			<string>j623ap</string>
			<string>j213ap</string>
			<string>j624ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j616cap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
			<string>j604ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-08251</string>
		<key>time</key>
		<real>1738635200.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.3</string>
	</dict>
	<key>072-36705</key>
	<dict>
		<key>build</key>
		<string>23H311</string>
		<key>date</key>
		<date>2024-12-11T18:36:40Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j613ap</string>
			<string>j415ap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-36705</string>
		<key>time</key>
		<real>1733971000.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.7.2</string>
	</dict>
	<key>072-36728</key>
	<dict>
		<key>build</key>
		<string>22H313</string>
		<key>date</key>
		<date>2024-12-11T18:37:31Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j680ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j137ap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j375dap</string>
			<string>j416sap</string>
			<string>j474sap</string>
			<string>j415ap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j475dap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j132ap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>vma2macosap</string>
			<string>x86legacyap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-36728</string>
		<key>time</key>
		<real>1733971051.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.2</string>
	</dict>
	<key>072-44286</key>
	<dict>
		<key>build</key>
		<string>24C101</string>
		<key>date</key>
		<date>2024-12-11T18:38:30Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j773sap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j614cap</string>
			<string>j773gap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j613ap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j415ap</string>
			<string>j623ap</string>
			<string>j213ap</string>
			<string>j624ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j616cap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
			<string>j604ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-44286</string>
		<key>time</key>
		<real>1733971110.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.2</string>
	</dict>
	<key>072-61270</key>
	<dict>
		<key>build</key>
		<string>22H417</string>
		<key>date</key>
		<date>2025-02-03T18:14:05Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j680ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j137ap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j375dap</string>
			<string>j416sap</string>
			<string>j474sap</string>
			<string>j415ap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j475dap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j132ap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>vma2macosap</string>
			<string>x86legacyap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-61270</string>
		<key>time</key>
		<real>1738635245.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.3</string>
	</dict>
	<key>072-61299</key>
	<dict>
		<key>build</key>
		<string>23H417</string>
		<key>date</key>
		<date>2025-02-03T18:14:05Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j613ap</string>
			<string>j415ap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-61299</string>
		<key>time</key>
		<real>1738635245.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.7.3</string>
	</dict>
	<key>072-70706</key>
	<dict>
		<key>build</key>
		<string>24D70</string>
		<key>date</key>
		<date>2025-02-17T18:05:17Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j773sap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j614cap</string>
			<string>j773gap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j613ap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j415ap</string>
			<string>j623ap</string>
			<string>j213ap</string>
			<string>j624ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j616cap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
			<string>j604ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-70706</string>
		<key>time</key>
		<real>1739844317.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.3.1</string>
	</dict>
	<key>072-83845</key>
	<dict>
		<key>build</key>
		<string>22H420</string>
		<key>date</key>
		<date>2025-02-17T18:06:28Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j680ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j137ap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j375dap</string>
			<string>j416sap</string>
			<string>j474sap</string>
			<string>j415ap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j475dap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j132ap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>vma2macosap</string>
			<string>x86legacyap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-83845</string>
		<key>time</key>
		<real>1739844388.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.4</string>
	</dict>
	<key>072-84039</key>
	<dict>
		<key>build</key>
		<string>23H420</string>
		<key>date</key>
		<date>2025-02-17T18:05:54Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j413ap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j140aap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j140kap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j613ap</string>
			<string>j415ap</string>
			<string>j213ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>072-84039</string>
		<key>time</key>
		<real>1739844354.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.7.4</string>
	</dict>
	<key>082-01336</key>
	<dict>
		<key>build</key>
		<string>24D81</string>
		<key>date</key>
		<date>2025-03-20T17:33:29Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>x589amluap</string>
			<string>j456ap</string>
			<string>j773sap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j314sap</string>
			<string>j316cap</string>
			<string>j160ap</string>
			<string>j230kap</string>
			<string>j516map</string>
			<string>j516sap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j614cap</string>
			<string>j773gap</string>
			<string>vmm-x86_64</string>
			<string>j475cap</string>
			<string>j516cap</string>
			<string>j137ap</string>
			<string>j514cap</string>
			<string>j416cap</string>
			<string>j180dap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j416sap</string>
			<string>j375dap</string>
			<string>j474sap</string>
			<string>j475dap</string>
			<string>j613ap</string>
			<string>j293ap</string>
			<string>j375cap</string>
			<string>j415ap</string>
			<string>j623ap</string>
			<string>j213ap</string>
			<string>j624ap</string>
			<string>j316sap</string>
			<string>j504ap</string>
			<string>j615ap</string>
			<string>j473ap</string>
			<string>j230ap</string>
			<string>j616cap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j493ap</string>
			<string>j414sap</string>
			<string>j314cap</string>
			<string>vma2macosap</string>
			<string>j223ap</string>
			<string>j214kap</string>
			<string>j185fap</string>
			<string>j185ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j313ap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j215ap</string>
			<string>j414cap</string>
			<string>j780ap</string>
			<string>j132ap</string>
			<string>j680ap</string>
			<string>j514map</string>
			<string>j604ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-01336</string>
		<key>time</key>
		<real>1742517209.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.3.2</string>
	</dict>
	<key>082-04099</key>
	<dict>
		<key>build</key>
		<string>24D2082</string>
		<key>date</key>
		<date>2025-03-20T17:34:04Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j575cap</string>
			<string>j715ap</string>
			<string>j713ap</string>
			<string>j575dap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-04099</string>
		<key>time</key>
		<real>1742517244.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.3.2</string>
	</dict>
	<key>082-11327</key>
	<dict>
		<key>build</key>
		<string>22H527</string>
		<key>date</key>
		<date>2025-04-18T17:50:42Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j434ap</string>
			<string>j780ap</string>
			<string>j174ap</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j504ap</string>
			<string>j475dap</string>
			<string>j316cap</string>
			<string>vma2macosap</string>
			<string>j415ap</string>
			<string>j293ap</string>
			<string>j140kap</string>
			<string>j223ap</string>
			<string>j474sap</string>
			<string>j414sap</string>
			<string>j314sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j375cap</string>
			<string>j140aap</string>
			<string>j213ap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j230kap</string>
			<string>j413ap</string>
			<string>j214kap</string>
			<string>j214ap</string>
			<string>j215ap</string>
			<string>x86legacyap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j185ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>vmm-x86_64</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j185fap</string>
			<string>j680ap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j152fap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-11327</string>
		<key>time</key>
		<real>1745023842.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.5</string>
	</dict>
	<key>082-11498</key>
	<dict>
		<key>build</key>
		<string>23H527</string>
		<key>date</key>
		<date>2025-04-18T17:51:23Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j516map</string>
			<string>j615ap</string>
			<string>j434ap</string>
			<string>j174ap</string>
			<string>j780ap</string>
			<string>j514map</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j475dap</string>
			<string>j504ap</string>
			<string>j316cap</string>
			<string>j415ap</string>
			<string>vma2macosap</string>
			<string>j293ap</string>
			<string>j140kap</string>
			<string>j223ap</string>
			<string>j474sap</string>
			<string>j375cap</string>
			<string>j414sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j314sap</string>
			<string>j516cap</string>
			<string>j213ap</string>
			<string>j140aap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j516sap</string>
			<string>j413ap</string>
			<string>j230kap</string>
			<string>j214ap</string>
			<string>j214kap</string>
			<string>x86legacyap</string>
			<string>j215ap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j185ap</string>
			<string>j613ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>j514cap</string>
			<string>vmm-x86_64</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j680ap</string>
			<string>j185fap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-11498</string>
		<key>time</key>
		<real>1745023883.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.7.5</string>
	</dict>
	<key>082-16524</key>
	<dict>
		<key>build</key>
		<string>24E248</string>
		<key>date</key>
		<date>2025-03-31T17:38:48Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j516map</string>
			<string>j615ap</string>
			<string>j434ap</string>
			<string>j174ap</string>
			<string>j780ap</string>
			<string>j514map</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j475dap</string>
			<string>j504ap</string>
			<string>j614sap</string>
			<string>j614cap</string>
			<string>j316cap</string>
			<string>j773gap</string>
			<string>j415ap</string>
			<string>vma2macosap</string>
			<string>j293ap</string>
			<string>j575dap</string>
			<string>j616sap</string>
			<string>j223ap</string>
			<string>j575cap</string>
			<string>j474sap</string>
			<string>j375cap</string>
			<string>j414sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j314sap</string>
			<string>j516cap</string>
			<string>j213ap</string>
			<string>j773sap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j516sap</string>
			<string>j413ap</string>
			<string>j230kap</string>
			<string>j214ap</string>
			<string>j214kap</string>
			<string>x86legacyap</string>
			<string>j215ap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j624ap</string>
			<string>j185ap</string>
			<string>j604ap</string>
			<string>j623ap</string>
			<string>j613ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>j514cap</string>
			<string>vmm-x86_64</string>
			<string>j616cap</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j680ap</string>
			<string>j185fap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j713ap</string>
			<string>j152fap</string>
			<string>j715ap</string>
			<string>j514sap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-16524</string>
		<key>time</key>
		<real>1743467928.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.4</string>
	</dict>
	<key>082-33200</key>
	<dict>
		<key>build</key>
		<string>24E263</string>
		<key>date</key>
		<date>2025-04-23T19:25:02Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j516map</string>
			<string>j615ap</string>
			<string>j434ap</string>
			<string>j174ap</string>
			<string>j780ap</string>
			<string>j514map</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j475dap</string>
			<string>j504ap</string>
			<string>j614sap</string>
			<string>j614cap</string>
			<string>j316cap</string>
			<string>j773gap</string>
			<string>j415ap</string>
			<string>vma2macosap</string>
			<string>j293ap</string>
			<string>j575dap</string>
			<string>j616sap</string>
			<string>j223ap</string>
			<string>j575cap</string>
			<string>j474sap</string>
			<string>j375cap</string>
			<string>j414sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j314sap</string>
			<string>j516cap</string>
			<string>j213ap</string>
			<string>j773sap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j516sap</string>
			<string>j413ap</string>
			<string>j230kap</string>
			<string>j214ap</string>
			<string>j214kap</string>
			<string>x86legacyap</string>
			<string>j215ap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j624ap</string>
			<string>j185ap</string>
			<string>j604ap</string>
			<string>j623ap</string>
			<string>j613ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>j514cap</string>
			<string>vmm-x86_64</string>
			<string>j616cap</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j680ap</string>
			<string>j185fap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j713ap</string>
			<string>j152fap</string>
			<string>j715ap</string>
			<string>j514sap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-33200</string>
		<key>time</key>
		<real>1745461502.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.4.1</string>
	</dict>
	<key>082-42293</key>
	<dict>
		<key>build</key>
		<string>22H625</string>
		<key>date</key>
		<date>2025-05-12T17:20:58Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j434ap</string>
			<string>j780ap</string>
			<string>j174ap</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j504ap</string>
			<string>j475dap</string>
			<string>j316cap</string>
			<string>vma2macosap</string>
			<string>j415ap</string>
			<string>j293ap</string>
			<string>j140kap</string>
			<string>j223ap</string>
			<string>j474sap</string>
			<string>j414sap</string>
			<string>j314sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j375cap</string>
			<string>j140aap</string>
			<string>j213ap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j230kap</string>
			<string>j413ap</string>
			<string>j214kap</string>
			<string>j214ap</string>
			<string>j215ap</string>
			<string>x86legacyap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j185ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>vmm-x86_64</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j185fap</string>
			<string>j680ap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j152fap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-42293</string>
		<key>time</key>
		<real>1747095658.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.6</string>
	</dict>
	<key>082-42388</key>
	<dict>
		<key>build</key>
		<string>23H626</string>
		<key>date</key>
		<date>2025-05-12T17:20:21Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j516map</string>
			<string>j615ap</string>
			<string>j434ap</string>
			<string>j174ap</string>
			<string>j780ap</string>
			<string>j514map</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j475dap</string>
			<string>j504ap</string>
			<string>j316cap</string>
			<string>j415ap</string>
			<string>vma2macosap</string>
			<string>j293ap</string>
			<string>j140kap</string>
			<string>j223ap</string>
			<string>j474sap</string>
			<string>j375cap</string>
			<string>j414sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j314sap</string>
			<string>j516cap</string>
			<string>j213ap</string>
			<string>j140aap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j516sap</string>
			<string>j413ap</string>
			<string>j230kap</string>
			<string>j214ap</string>
			<string>j214kap</string>
			<string>x86legacyap</string>
			<string>j215ap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j185ap</string>
			<string>j613ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>j514cap</string>
			<string>vmm-x86_64</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j680ap</string>
			<string>j185fap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j152fap</string>
			<string>j514sap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-42388</string>
		<key>time</key>
		<real>1747095621.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.7.6</string>
	</dict>
	<key>082-44432</key>
	<dict>
		<key>build</key>
		<string>24F74</string>
		<key>date</key>
		<date>2025-05-12T17:13:40Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j516map</string>
			<string>j615ap</string>
			<string>j434ap</string>
			<string>j174ap</string>
			<string>j780ap</string>
			<string>j514map</string>
			<string>j456ap</string>
			<string>j137ap</string>
			<string>j475dap</string>
			<string>j504ap</string>
			<string>j614sap</string>
			<string>j614cap</string>
			<string>j316cap</string>
			<string>j773gap</string>
			<string>j415ap</string>
			<string>vma2macosap</string>
			<string>j293ap</string>
			<string>j575dap</string>
			<string>j616sap</string>
			<string>j223ap</string>
			<string>j575cap</string>
			<string>j474sap</string>
			<string>j375cap</string>
			<string>j414sap</string>
			<string>j475cap</string>
			<string>j416sap</string>
			<string>j314sap</string>
			<string>j516cap</string>
			<string>j213ap</string>
			<string>j773sap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j516sap</string>
			<string>j413ap</string>
			<string>j230kap</string>
			<string>j214ap</string>
			<string>j214kap</string>
			<string>x86legacyap</string>
			<string>j215ap</string>
			<string>j180dap</string>
			<string>j416cap</string>
			<string>j624ap</string>
			<string>j185ap</string>
			<string>j604ap</string>
			<string>j623ap</string>
			<string>j613ap</string>
			<string>j457ap</string>
			<string>x589amluap</string>
			<string>j514cap</string>
			<string>vmm-x86_64</string>
			<string>j616cap</string>
			<string>j313ap</string>
			<string>j314cap</string>
			<string>j493ap</string>
			<string>j316sap</string>
			<string>j680ap</string>
			<string>j185fap</string>
			<string>j274ap</string>
			<string>j375dap</string>
			<string>j160ap</string>
			<string>j132ap</string>
			<string>j414cap</string>
			<string>j713ap</string>
			<string>j152fap</string>
			<string>j715ap</string>
			<string>j514sap</string>
			<string>j473ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>082-44432</string>
		<key>time</key>
		<real>1747095220.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.5</string>
	</dict>
</dict>
</plist>
